.container {
    padding: 0 50px;
}

.game-container {
    position: relative;
    /* background-color: #dbf5f3; */
    background-color: white;
    border: 10px solid #8BCCCE;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
}

.status-container {
    position: relative;
    padding: 10px;
    background: url("../img/logo.jpg");
    background-color: white;
    border: 10px solid #8BCCCE;
    height: 60vh;
    max-height: 90vh;
    background-size: 60%;
    background-position: bottom right;
    background-repeat: no-repeat;
    overflow-y: scroll;
}

#game-status * {
    line-height: 2.5;
}

.header img {
    position: relative;
    width: 300px;
}

.line,
footer {
    position: fixed;
    color: #fff;
    background: #8bccce;
    height: 50px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
    bottom: 0;
    left: 0;
    right: 0;
}

.line {
    background-color: #FCE18C;
    height: 10vh;
    z-index: -1;
}

body {
    background-color: white;
}

h2 {
    color: #ba393b;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

h3 {
    color: #4d4d4d;
    text-align: center;
    font-size: 30px;
}

.accent img {
    position: fixed;
    background-size: cover;
}

#r1 {
    width: 500px;
    top: 5px;
    left: 100px;
}

#r2 {
    width: 300px;
    top: 5px;
    right: 50px;
}

.oh-btn-blue {
    background-color: #8bccce;
    color: white;
    border: none;
    border-radius: 33px;
}

.oh-btn-blue:hover {
    background-color: white;
    color: #8bccce;
    border: 2px solid #8bccce;
}